body{
  overflow: hidden;
  font-family: sans-serif;
}

#main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-end;
}

#top-container{
  display: flex;
  flex: 2;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
  align-items: center;
  padding-right:30px;
}

#tree-image{
  flex:2
  max-height:150px;
  width:120px;
  margin-right: 30px;
}

#tree-message{
  flex:8;
  border: 2px solid black;
  height: 65%;
  margin-left:400px;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
}

.waste-image{
  position: absolute;
  top:40px;
  height: 100px;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    left: -60px;
  }
  to {
    left: 90px;
  }
}

#conveyor-image{
  position:absolute;
  top: 140px;
  left:0px;
  width:265px;
}

#bin-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}

.bin-image{
  height: 60vh;
}

#footer{
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  background-color: #C41E3A;
}

#stanford-logo{
  height:20px;
  padding:10px;
}
