body{
  overflow: hidden;
  font-family: sans-serif;
  /* background-image: linear-gradient(to bottom right, #CDFFC5, #A3FFF3); */
  background-image: url("images/grass2.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  background-color: #BDF6FF;
}

#main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-end;
  align-items: flex-end;
}

#top-container{
  display: flex;
  flex: 2;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
  align-items: center;
  padding-right:30px;
}

#tree-image{
  flex:2
  max-height:150px;
  width:120px;
  margin-right: 30px;
}

#tree-message{
  flex:6;
  border: 2px solid black;
  height: 45%;
  margin-left:40%;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
  background-color: white;
}

.waste-image{
  position: absolute;
  top:40px;
  height: 200px;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  z-index:10;
}
@keyframes fadeIn {
  from {
    left: -60px;
  }
  to {
    left: 90px;
  }
}

#conveyor-image{
  position:absolute;
  top: 240px;
  left:0px;
  width:265px;
}

#bin-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}

.bin-image{
  height: 50vh;
}

#footer{
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  background-color: #C41E3A;
}

#stanford-logo{
  height:20px;
  padding:10px;
}
