#main-container{
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}

#tree-image{
  height:210px;
  position: absolute;
  top:20px;
  right:20px;
}

.waste-image{
  position: absolute;
  top:30px;
  left:50px;
  width: 100px;
}

#conveyor-image{
  position: absolute;
  top:100px;
  left:0px;
  width:285px;
}

#bin-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}

.bin-image{
  height: 450px;
}

#footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #C41E3A;
}

#stanford-logo{
  height:20px;
  padding:10px;
}
